{% extends 'baseAdmin.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}

    <div>
        <h1>Bienvenue sur l'espace administrateur du site subl-immo.com !</h1>
        <p>Pour commencer, merci de sélectionner un lien dans le menu à gauche.</p>
    </div>

{% endblock %}