{% extends 'baseAdmin.html.twig' %}
{% block title %} maison- formulaire {% endblock %}

{% block body %}

    <h1 class="pb-5">Formulaire</h1>

    <div>
        {#{{ form(formulaire)}}#}
        {{ form_start(formulaire) }}
        {{ form_end(formulaire) }}
    </div>

    {% endblock %}